body{
  background-color:#6EA498;
}
#heading{
  background-color:#051A38;
  padding:20px;
}
h1{
  color:#758AA8;
}
h2{
  color:#4C678C;
  font-style:italic;
}

#body-container, #footer{
  border: solid 3px #051A38;
  background-color:#256E5E;
  padding:20px;
  Margin: 20px 50px 20px 50px;
  border-radius:10px;
}

img{
  height: 300px;
  border-radius:10px;
  margin-bottom:15px;
}

a{
  color:#758AA8;
}
